# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Start imports #}
{% import_yaml "salt/defaults.yaml" as default_settings %}
{% import_yaml "salt/osfamilymap.yaml" as osfamilymap %}
{% import_yaml "salt/osmap.yaml" as osmap %}


{#- Merge in by os_family and os#}
{% set defaults = salt['grains.filter_by'](default_settings,
    default='salt',
    merge=salt['grains.filter_by'](osfamilymap, grain='os_family',
      merge=salt['grains.filter_by'](osmap, grain='os',
        merge=salt['pillar.get']('salt:lookup', default={}, merge=True)
      )
    )
)%}

{#- Merge in salt pillar #}
{% set salt_settings = salt['pillar.get']('salt', default=defaults, merge=True) %}

{#- Merge in salt_formulas pillar #}
{% set formulas_settings = salt['pillar.get']('salt_formulas',default=default_settings['salt_formulas'], merge=True) %}
